.main-cart{
    margin: 0;
}
.main-cart h1{
    margin: 0;
    padding: 2.8rem;
    font-size: 3.8rem;
    text-align: center;
    background-color: #F5F5F5;
    height: 100%;
}
.table{
    margin: 3.6rem auto;
    width: 60%;
    border: 1px solid #DEE2E6;
}
.table thead{
    background-color:#F5F5F5;
}
.table th{
    font-size: 1.6rem;
    padding: 1.6rem 0;
    font-weight: 500;
    text-align: start;
}
.table td{
    font-size: 1.6rem;
}
.product-remove,
.product-thumbnail{
    width: 10%;
}
.table td img{
    width: 100%;
    padding: 5% 10%;
}
.product-remove i{
    font-size: 2.6rem;
    color: #000;
    padding: 1rem;
}
.product-remove i:hover{
    animation: hoveritem ease 0.5s;
    color: red;
}
.product-button input{
    border: none;
}
.price-current{
    font-weight: 700;
}

@keyframes hoveritem{
    from{
        color: #000;
    }to{
        color: red;
    }
}